@import "../../scss/variables.scss";
.Benefits {
	display: block;
	background-color: var(--white);
	overflow: hidden;

	&__container {
		padding-top: 195px;
		padding-bottom: 190px;
		position: relative;

		@media (max-width: 1600px) {
			padding-top: 110px;
			padding-bottom: 110px;
		}

		@media (max-width: 1365px) {
			padding-top: 90px;
			padding-bottom: 90px;
		}

		@media (max-width: 999px) {
			padding-top: 70px;
			padding-bottom: 70px;
		}

		@media (max-width: $mob) {
			padding-bottom: 0px;
		}

		&::after {
			content: "";
			width: 151.89px;
			height: 151.89px;
			transform: rotate(-25.732deg);
			background: var(--radial-purple);
			top: 100px;
			right: 138px;
			position: absolute;
			border-radius: 50%;

			@media (max-width: 1365px) {
				top: 20px;
				right: 60px;
			}
		}
	}

	&__content {
		border-radius: 20px;
		background: var(--linear-background);
		padding: 130px 0 150px;
		width: 100%;
		position: relative;

		&::after,
		&::before {
			content: "";
			width: 440.008px;
			height: 440.008px;
			transform: rotate(11.969deg);
			border-radius: 440.008px;
			background: var(--linear-puprle);
			filter: blur(86px);
			position: absolute;
			z-index: 1;

			@media (max-width: 1365px) {
				width: 238px;
				height: 238px;
			}
		}

		&::after {
			bottom: 0;
			left: 0;

			@media (max-width: 1365px) {
				bottom: -20px;
				left: 40px;
			}
		}

		&::before {
			top: 0;
			right: 0;

			@media (max-width: 1365px) {
				top: 20px;
				right: -60px;
			}
		}
	}

	&__info {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 65px;
		position: relative;
		z-index: 2;

		&::after,
		&::before {
			position: absolute;
			border-radius: 50%;
		}

		&::before {
			content: "";
			width: 84.004px;
			height: 84.004px;
			transform: rotate(7.766deg);
			background: var(--radial-blue);
			top: -22px;
			left: 170px;

			@media (max-width: 1365px) {
				left: 40px;
			}
		}

		&::after {
			content: "";
			width: 131.66px;
			height: 131.66px;
			transform: rotate(-25.732deg);
			filter: blur(12px);
			background: var(--radial-purple);
			bottom: -17px;
			right: 140px;
		}
	}

	&__title {
		color: var(--white);
	}

	&__cards {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 70px 50px;
		max-width: 650px;
	}

	&__card {
		flex: 0 0 calc(53% - 50px);
		height: 310px;

		&:nth-child(2),
		&:nth-child(3) {
			& img {
				margin-top: -33px;

				@media (max-width: calc($desc - 10px)) {
					margin-top: 0;
				}
			}
		}
		&:nth-child(4) {
			& img {
				margin-top: -73px;

				@media (max-width: calc($desc - 10px)) {
					margin-top: 0;
				}
			}

			p {
				text-wrap: balance;
			}
		}
	}
}
