.Card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	gap: 23px;
	border-radius: 20px;
	background: var(--card-background);
	backdrop-filter: blur(30.5px);
	z-index: 2;
	height: 100%;
	width: 100%;
	padding: 20px;

	&::after {
		content: "";
		display: block;
		border-radius: 20px;
		background: rgba(51, 62, 81, 0.6);
		backdrop-filter: blur(27.5px);
		bottom: -20px;
		left: 20px;
		width: calc(100% - 40px);
		height: calc(100% - 42px);
		position: absolute;
		z-index: -1;
	}

	&__image {
		max-width: 117px;
		width: 100%;
		object-fit: contain;
	}

	&__text {
		color: var(--white);
		text-align: center;
	}
}
